
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #06badd;
$red: #cd171f;
$yellow: #fdb813;
$orangeHover: #d69a0f;
$green: #348b35;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$orange: #f6993f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
