@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import "variables";
@import "icon";
@import "tom-menu";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    list-style: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
   /* background: url("../img/bg.png");*/
}
header .h1{
    position: absolute;
    top: 296px;
    z-index: 15;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-size: 60px;;
    text-shadow: 0 0 20px black;
    width: 100%;
    text-align: center;

}

header .h1 span{
    color: $green;
    text-shadow: 0 0 1px white;
    font-style: italic;
    font-family: cursive;
    text-shadow: 5px 2px 0px #0a0909, -1px 2px 20px #ffffff;
}
.h1{
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    color: $green;
}

.h2{
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    color: #fff;
    background: #428aaf;
    margin-top: 15px;
}
hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
section h1{
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    color: $green;
}
.info_img h1{
    position: absolute;
    z-index: 5;
    top: 35px;
    width: 100%;
    background-image: linear-gradient(40deg, rgba(255, 255, 255, 0) 21%, rgb(255, 255, 255) 48%, rgba(0, 188, 245, 0) 80%);
}

header{
    position: relative;
}
header .wrapper_header{
    position: relative;
    min-height: 674px;
}

.find_by_self{
    background: #f6f6f6;
    padding: 20px 0;
    position: relative;
    margin: 100px 0;
    z-index: 5;
}
.find_by_self:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    background: #f6f6f6;
    top: -15px;
    left: 0;
    right: 0;
    z-index: -1;
    transform: skew(0,-1deg);
    box-shadow: 0px -3px 3px -1px rgba(0, 0, 0, 0.25);
}
.find_by_self:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    background: #f6f6f6;
    bottom: -15px;
    left: 0;
    right: 0;
    z-index: -1;
    transform: skew(0,1deg);
    box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.25);
}
.search_block_header{
    position: absolute;
    z-index: 80;
    top: 60%;
    width: 100%;
}
#logo{
    height: 72px;
    transition: all .8s;
    position: relative;
    top: -11px;
}
.wrapper{
    width: 1200px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-slider{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;

}
.slider_top{
    width: 100vw;
    overflow: hidden;

}
.slider_top img{
    height: 785px;
    width: 100vw;
    position: relative;
}

.header_contact, .page_contact{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 34px;
}
.page_contact .title-contact{
    color: $green;
    display: block;
    font-size: 34px;
    margin: -7px 0 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.h1-cont{
    margin-top: 27px;
}
.map iframe{
    width: 100%;
    margin-bottom: 25px;
    border: none;
    box-shadow: 0 0 2px 2px rgba(12, 12, 12, 0.22);
}
.page_contact .adress-in-contact{
    display: block;
    margin-bottom: 10px;
}

.header_contact a, .page_contact a{
    color: #5d5d5d;
    font-size: 21px;

}

.header_contact i{
    color: $orange;
    font-size: 25px;
    margin-right: 9px;
}

.page_contact i{
    color: $green;
    margin-right: 9px;
    font-size: 29px;
}
.sezon{
      color: $green;
      margin-right: 9px;
      font-size: 20px;
  }

.header_contact .header_mail, .page_contact .contact_mail{
    margin-left: 10px;
}

.header_contact .header_tel, .header_contact .header_mail, .contact_mail, .contact_tel{
    display: inline-flex;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,#e7e7e7 0%, #fdfdfd 100%);
    color: #fff;
    border-top: 2px solid #adadad;
    padding: 26px 0;
}
footer span{
    margin-bottom: 10px;
}
.footer_contact{
    margin-right: 40px;
}
footer .footer_mail, footer .footer_tel{
    display: flex;
    align-items: center;
}
footer{
    position: relative;
}
footer .footer_bag{
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 92px;

}
footer .footer_flat{
    position: absolute;
    bottom: 0;
    left: 106px;
    width: 179px;
}
footer a{
    color: #424242;
    font-size: 28px;
    padding-left: 10px;
    font-weight: 500;
    text-decoration: none;
}
footer i{
    font-size: 26px;
    color: #ff7302;
}


.nav-icon-line{
    width: 100%;
    background: $green;
    height: 45px;
    position: relative;
    margin-top: 14px;
    border-radius: 8px;
}
.nav-icon-line #nav-text-in{
    margin-left: 63px;
    position: relative;
    top: 13px;
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
    float: left;
}
#nav-icon{
    float: left;
    display: none;
    width: 31px;
    height: 42px;
    border-radius: 4px;
    position: absolute;
    top: -3px;
    left: 23px;
    margin: 9px 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon span {

    display: block;
    position: absolute;
    height: 3px;
    width: 75%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    margin: auto;
    left: 0;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/* Icon 3 */

#nav-icon span:nth-child(1) {
    top: 7px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 16px;
}

#nav-icon span:nth-child(4) {
    top: 25px;
}

.open{
    z-index: 999999;
    top: 27px;
    right: 47px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.opener{
    display: flex!important;
    max-height: 100%!important;
    transition: max-height 1s ease;
    overflow: hidden;
    width: 100%;
}
#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-icon-line{
    display: none;
}

.hoverActive{
    height: auto!important;
    top: 0!important;
}



.we_help{
    font-size: 18px;
}
.call_back{
    margin-left: 8px;
}

.text_contact{
    padding: 10px;
}

.text_block{
    font-size: 17px;
    background: whitesmoke;
    padding: 16px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.71);
    text-align: center;
    line-height: 1.4;
}

.text_block p{
    padding-bottom: 8px;
}

.text_block .text_center{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 9px;
    color:$green;
    font-size: 23px;
}

.danger_text{
    color: #d04c4c;
    font-weight: 900;
}

.zoom-anim-dialog-info{
    width: 980px;
    margin: auto;
    background: white;
    padding: 20px;
    position: relative;
    color: #424242;
}

#callbackChoose{
    background: url("/img/model-bg.jpg") 0 0 no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 11px;
}
#callbackChoose .mfp-close{
    border-radius: 0 11px 0 0;
}
.zoom-anim-dialog-info .main_img{
    width: 100%;
}

.zoom-anim-dialog-info .mfp-close{
    background: red;
    color: #fff;
}

.zoom-anim-dialog-info .title{
    text-align: center;
    font-weight: 900;
    font-size: 28px;
    padding: 15px 0;
    color: $green;
}
#callbackChoose .title{
    color: #fff;
}
.zoom-anim-dialog-info p, .text_block_about_tour{
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
    font-size: 15px;
}
.zoom-anim-dialog-info ul{
    margin-bottom: 20px;
}
.zoom-anim-dialog-info ul li{
    list-style-type: disc;
    margin-left: 30px;
    color: #424242;
    font-size: 15px;
    text-align: justify;
}
.zoom-anim-dialog-info ul strong{
    margin: 15px 0 0;
    font-size: 15px;
}

.zoom-anim-dialog-info h4{
    margin-bottom: 6px;
}

.info_img{
    background: #f6f6f6;
    padding-bottom: 10px;
    line-height: 1.5;
    position: relative;
    padding-top: 25px;

}

.info_img p{
    margin-bottom: 8px;
}
.info_img .slick-dots li.slick-active button:before{
    font-size: 18px;
    color: $orange;
    border: 1px solid;
    border-radius: 50%;
    line-height: 23px;
}

.info_img  .slick-dots li button:hover:before, .slick-dots li button:focus:before{
    color: $orange;
}
.slider_page{
    width:100%;
}
.text_info_in_page{
    padding: 20px;
}

.info_img a{
    padding: 10px;
    outline: none;
    height: 400px;

}

.TVInterfaceWrapper{
    border-radius: 0!important;
}
.bg_gray{
    background: #f6f6f6;
}
.text_info_in_page{
    padding-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
 .text_info_in_page h2, .text_info_in_page h3{
    padding-top: 12px;
    font-family: Open Sans,sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: inline;
}
.text_info_in_page i{
    color: $green;
    font-weight: 700;
}
.info_img img{
    width: 100%;
    height: 100%;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.2);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.34);
    border-radius: 8px;
}
.info_img .slick-active img {
    transform: scale(1);
}
.info_img a:hover img{
    box-shadow: 0px 0px 0px 2px $green;
}

.f-nav{
    position: fixed;
    width: 100%;
    top: 0;
}
.f-nav #logo{
    height: 55px;
    top: 0;
}
.f-nav .header_contact{
   overflow: hidden;
    height: 0;
    width: 0;
    display: none;
}

/*  style for кнопка */
.bigEntrance{
    -webkit-animation: bigEntrance 750ms linear both;
    -moz-animation-name: bigEntrance 750ms linear both;
    -o-animation-name: bigEntrance 750ms linear both;
    animation: bigEntrance 750ms linear both;

    visibility: visible !important;
}


.phone-call_wave {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50% !important;
}
.phone-call_wave__stroke {
    border: 5px solid $green;
    width: 90%;
    height: 90%;
    opacity: .9;
    -webkit-animation: wave-stroke 1.5s infinite cubic-bezier(.42, 0, .85, .75);
    -moz-animation: wave-stroke 1.5s infinite cubic-bezier(.42, 0, .85, .75);
    -o-animation: wave-stroke 1.5s infinite cubic-bezier(.42, 0, .85, .75);
    animation: wave-stroke 1.5s infinite cubic-bezier(.42, 0, .85, .75);
}
/*    Волна без заливки*/
@-webkit-keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0;
    }
}
@-moz-keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0;
    }
}
@-o-keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0;
    }
}
@keyframes wave-stroke {
    100% {
        width: 200%;
        height: 200%;
        border-color: transparent;
        opacity: 0;
    }
}
.phpner_call-btn {
    background-image: url("/img/call.svg");
    background-size: contain!important;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    z-index: 100000;
    cursor: pointer;

    visibility: hidden;

    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.phpner_call-btn:hover {
    opacity: 1!important;
}

/* tooltip */
.phpner_button_tooltip--container {
    font-family: 'Open Sans', sans-serif !important;
    top: 50%!important;
    transform: translateY(-50%)!important;

    bottom: 0!important;
    display: table!important;

    position: absolute!important;

    z-index: 501!important;
}
.phpner_button_tooltip--container.phpner_button_tooltip--left {
    right: auto!important;
    left: -206px!important;
}
.phpner_button_tooltip--container.phpner_button_tooltip--right {
    right: -206px!important;
    left: auto!important;
}
.phpner_button_tooltip {
    font-size: 13px!important;

    line-height: normal!important;

    width: 190px!important;
    height: auto!important;
    min-height: 54px!important;

    padding: 10px!important;
    text-align: left!important;
    vertical-align: middle!important;
    opacity: 0!important;
    border-radius: 5px!important;
    background: rgba(0,0,0,.8)!important;
    box-shadow: 0 1px 3px rgba(0,0,0,.2)!important;

    cursor: pointer!important;
    outline: 0!important;

    box-sizing: border-box!important;

    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
}
.phpner_button_tooltip.phpner_button_tooltip--show {
    opacity: 1!important;
    display: table!important;
    -webkit-animation: phpner-tooltip-animation 1000ms linear both;
    animation: phpner-tooltip-animation 1000ms linear both;
}
.phpner_button_tooltip.phpner_button_tooltip--show.phpner_button_tooltip--alert {
    opacity: 1!important;
    display: table!important;
    -webkit-animation: phpner-tooltip-animation-alert 3800ms linear infinite both;
    animation: phpner-tooltip-animation-alert 3800ms linear infinite both;
}
.phpner_button_tooltip.phpner_button_tooltip--hide {
    opacity: 0!important;
    display: none!important;
    -webkit-animation:none;
    animation: none;
}
#phpner_button-call:hover .phpner_button_tooltip.phpner_button_tooltip--hide.phpner_button_tooltip--hover {
    opacity: .95!important;
    display: table!important;
    transition: all 0.5s ease!important;
}
#phpner_button-call:hover .phpner_button_tooltip.phpner_button_tooltip--hide.phpner_button_tooltip--hover .phpner_button_tooltip--close {
    display: none!important;
}
#phpner_button-call:hover .phpner_button_tooltip.phpner_button_tooltip--alert {
    opacity: 1!important;
    display: table!important;
    -webkit-animation: none;
    animation: none;
}
.phpner_button_tooltip--text {
    font-size: 13px!important;
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.3em!important;
    color: #fff!important;
    display: table-cell!important;
    vertical-align: middle!important;
    word-break: break-word;
    text-overflow: ellipsis;
}
.phpner_button_tooltip--close {
    transition: all 1s!important;

    color: #000!important;
    font-size: 15px!important;
    font-weight: 300!important;
    line-height: 40px!important;
    position: absolute!important;
    opacity: .6!important;
    top: -30px!important;
    right: -10px!important;
}
.phpner_button_tooltip::before {
    top: 50%!important;
    transform: translateY(-50%)!important;
    right: -16px!important;
    bottom: auto!important;
    left: auto!important;
    border-top-color: transparent!important;
    border-right-color: transparent!important;
    border-bottom-color: transparent!important;
    border-left-color: rgba(0,0,0,.8)!important;

    margin: 0!important;
    border-width: 8px!important;
    border-style: solid!important;
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;

    position: absolute!important;
    z-index: 500!important;
    content: ''!important;
    background: 0 0!important;

    box-sizing: border-box!important;
}
.phpner_button_tooltip::before {
    top: 50%!important;
    transform: translateY(-50%)!important;
    bottom: auto!important;
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    margin: 0!important;
    border-width: 8px!important;
    border-style: solid!important;
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    position: absolute!important;
    z-index: 500!important;
    content: ''!important;
    background: 0 0!important;
    box-sizing: border-box!important;
}

.form_width{
    width: 450px!important;
}
.form_callback, .form_callback_choose,.callbackCommetn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_callback input:not([type=submit]), .form_callback_choose input:not([type=submit]), .callbackCommetn input:not([type=submit]){
    width: 100%;
    border: none;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    height: 38px;
    padding-left: 12px;
    background-color: transparent;
    outline: none;
    position: relative;
    z-index: 5;
}
.controll_input{
    position: relative;
    width: 93%;
    margin-bottom: 17px;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    background: #fff;
}
.controll_input_contry{
    width: 93%;
}
.controll_input_contry select{
    width: 93%;
    margin-bottom: 17px;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    background: #fff;
}
.controll_input span{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all .4s;
}
.form_callback input[type=submit],  .form_callback_choose input[type=submit], .callbackCommetn input[type=submit]{
    border: none;
    padding: 15px 20px;
    margin-top: 15px;
    color: #424242;
    font-size: 15px;
    text-transform: uppercase;
    background: #e4e4e4;
    border-radius: 6px;
    cursor: pointer;
    transition: all .4s;
}

.form_callback input[type=submit]:hover, .form_callback_choose input[type=submit]:hover, .callbackCommetn input[type=submit]:hover{
    background: rgb(163, 160, 160);
}

@-webkit-keyframes autofill {
    to {
        color: #000;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.controll_input input.error{
    box-shadow: 0 0 0px 3px rgba(222, 30, 30, 0.78);
}

.controll_input input.valid{
    box-shadow: 0 0 0px 2px rgba(67, 222, 51, 0.78);
}

.form_callback  textarea, .form_callback_choose textarea, .callbackCommetn textarea{
    width: 93%;
    border: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    height: 90px;
    padding-left: 12px;
    padding-top: 8px;
    outline: none;
}

#edit-field-request-country-value-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
}
#edit-field-request-country-value-wrapper label{
    font-size: 23px;
    margin-bottom: 12px;
    color: white;
}
#edit-field-request-country-value-wrapper select{
    width: 100%;
    border: none;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    height: 38px;
    padding-left: 12px;
    outline: none;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    outline: none;
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 18px;
    font-family: Ubuntu, sans-serif;
}
.form-holder{
    top: -2px!important;
    background-color: white;
    display: inline-block;
    font-size: 14px;
    color: $orange;
    z-index:5!important;
}

.sendForm {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(217,217,217,0.56);
    z-index: 1001;
    display: none;
}
.sendForm img {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#answers {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
#answers span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(133,167,62,0.86);
    text-shadow: 0 0 3px black;
    font-size: 50px;
    font-weight: bold;
    padding:0 15px;
}


.scrollup {
    width: 51px;
    height: 51px;
    position: fixed;
    display: none;
    bottom: 52px;
    left: 50px;
    z-index: 10;
    color: white;
    text-align: center;
    line-height: 48px;
    background: #d2d2d2;
    border-radius: 10px;
    transition: all .4s;
    border: 2px solid #fff;
}

.TVSRNavButton.TVSRSearchMoreBtn {
    width: 200px!important;
    padding: 20px 0!important;
    margin: 20px auto!important;
    background: #ff9a34!important;
    color: #fff!important;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.47)!important;
    border-radius: 8px!important;

}
.TVSRPriceValue {
    background-color: #e01656!important;
}

.scrollup:hover{
    background: #8e8e8e;
}

.pt-118px{
    padding-top: 138px;

}

.section-callback{
    background-image: linear-gradient(45deg,#ff9a34 43%, #ff0c00 107%);
    padding: 50px 0;
    position: relative;
}

.section-callback .bg{
    background-image: url("../img/callback-bg2.png");
    height: 100%;
    background-position: right top;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.section-callback__content .section-callback__title{
    margin: 32px 0;
    font-size: 32px;
    line-height: 1.38;
    color: #fff;
}
.section-callback__content:after{
    content: '';
    display: block;
    height: 100%;
    background: url(/img/call1.png) no-repeat 78% 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.section-callback__content .btn-brand{
    position: relative;
    z-index: 10;
    background: #378d38;
    padding: 20px 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
}

.slider_partner .item_operator{
    height: 80px !important;
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin: 10px;
}
.slider_partner .item_operator img{
    width: 100%;
    height: 100%;
}
.our_partner h3{
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    color: #5a5a5a;
}
.our_partner{
    background: white;
    padding: 25px 0 40px;
    overflow: hidden;
}
.our_partner .title{
    text-align: center;
    font-size: 30px;
    color: $green;
    font-family: Ubuntu, sans-serif;
    margin-bottom: 30px;
    font-weight: bold;
}
.contact_tour{
    background: #f7f7f7;
    padding: 59px 0;
    box-shadow: -1px -2px 5px 0px rgba(0, 0, 0, 0.27);
}
.contact_form{
    margin-bottom: 30px;
}

.contact_form h3{
    margin: 0px 0 33px;
    font-size: 23px;
    text-transform: uppercase;
}

.TVSRFixePanel{
    position: relative!important;
}
.find_by_self .TVTopForm{
    background-color: #428aaf!important;
}

.header_logo{
    outline-style: none
}
.wrapper-for-contact{
    position: relative;
}
.wrapper-for-contact .left-menu{
    position: absolute;
    left: 15px;
    background: rgba(0, 0, 0, 0.56);
    height: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    transition: all .5s ease-out;
    padding: 0 5px;
}
.wrapper-for-contact:hover .left-menu{
    height: 200px;
    top: -179px;
}
.wrapper-for-contact:hover .phone-call_wave__stroke{
    animation: step-end;
}
.wrapper-for-contact .viber, .wrapper-for-contact .whatsapp{
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

.wrapper-for-contact .envelope{
    cursor: pointer;
    width: 35px;
    height: 28px;
    margin-top: 20px;
}
#vk-mob{
    display: none;
}

.page_choose_tour{
    padding-bottom: 20px;
}
.slick-feedback  .slick-prev,.slick-feedback .slick-next{
    width: 65px;
    height: 65px;
    z-index: 10;
}
.slick-feedback  .slick-prev:before,.slick-feedback .slick-next:before{
    color: $orange;
    font-size: 70px;
}

.slick-feedback:hover .slick-prev:before, .slick-feedback:hover .slick-prev:focus:before,
.slick-feedback:hover .slick-next:before, .slick-feedback:focus .slick-next:before,.slick-feedback:hover .slick-prev:before,
.slick-feedback:hover .slick-feedback .slick-next:before{
    opacity: 1;
    transition: all .8s;
}
.slick-feedback .slick-next {
    right: 25px;
}
.slick-feedback  .slick-prev {
    left: 25px;
}
.section-reviews .h-heading{
    text-align: center;
    font-size: 30px;
    color: $green;
    padding: 0px 0 20px;
}

.slick-feedback .slick-dots li button:before{
    font-size: 17px;
}

.slick-feedback  .slick-dots li.slick-active button:before{
    color: $orange;
}
.slick-feedback .slick-dots{
    bottom: 0px;
}
.slick-feedback .item_slider{
    background: #fff;
    margin: 20px;
    padding: 20px 15px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    color: #3d4852;
    font-family: Open Sans, sans-serif;
}
.section-reviews  .slick-dotted.slick-slider{
    margin-bottom: 0!important;
    padding-bottom: 22px;
}
.section-reviews{
    padding: 30px 0 49px;
    margin-top: 30px;
}
.reviews-card__name{
    font-weight: bold;
    font-size: 20px;
}
.reviews-card__date{
    color: $green;
    font-style: italic;
    padding: 10px 0px;
    text-decoration: underline;
}
.btn_feed_back{
    display: block;
    margin: auto;
    width: 189px;
    font-size: 18px;
    background: #ff9a34;
    text-align: center;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 24px;
}
#tel-error{
    background: #af5a5a;
    width: 100%;
    display: inline-block!important;
    text-align: center;
    color: #fff;
    padding: 5px 0;

}
.section-kurort-turkay .item img {
    width: 250px;
}
.hidden{
    display: none;
}
.valid + #tel-error{
    display: none!important;
}
.contact-footer-title{
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    color: #378d38;
    display: inline-block;
}

.item_block_new{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.item_block_new .item{
    flex: 46%;
    max-width: 574px;

    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}
.item_block_new .item .box-text{
    position: absolute;
    bottom: 0;
    background: rgba(255, 140, 47, 0.81);
    color: white;
    width: 100%;
    text-align: center;
}

.item_block_new .item .box-text .item_name{
    display: block;
}
.item_block_new .item .box-text .item_price{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Ubuntu, sans-serif;
    font-weight: 900;
    color: #f9f9f9;
}

.calendar_box{
    display: flex;
    flex-flow: row wrap;

}

.calendar_box .item_block{
    margin: 10px;
    background: rgb(243, 243, 243);
    text-align: center;
    position: relative;
    border: 1px solid #b3b3b3;
    box-shadow: 3px 5px 3px 2px rgba(0, 0, 0, 0.14);
}

.calendar_box .item_block_text{
    padding: 10px;
}

.calendar_box .item_block .date{
    left: 0;
    background: #ff9a34;
    color: #fff;
    padding:0 5px;
}

.calendar_box .item_block .hight{
    color: #929292;
}

.calendar_box .item_block .price{
    color: #bf0f0f9c;
    font-weight: bold;
    margin-top: 5px;
}

@media only screen and (max-width : 1500px) {
    .slider_top img {
        height: 690px;
    }
}
/* end style for кнопка */
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1300px) {
    .slider_top img {
        height: 600px;
    }
    header .h1{
        top: 225px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1220px) {
    .wrapper{
        width: 100%;

    }
    footer .footer_flat{
        left: 6px;
        width: 144px;
    }
    footer .footer_bag {
        right: 10px;
        width: 62px;
    }
    header .wrapper_header{
        min-height: 584px;
    }
    header .h1{
        font-size: 40px;
    }
    #logo{
        height: 50px;
    }
    .top_menu .menu > li > a{
        padding: 6px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .search_block_header {
        position: relative;
    }
    .wrapper-slider {
        display: none;
    }
    header {
        min-height: auto;
    }
    footer .footer_flat{
        width: 80px;
    }
    header .wrapper_header{
        min-height: auto;
    }
    .top_menu{
        padding: 15px 0;
    }
    .top_menu .wrapper{
        flex-flow: row wrap;
    }
    .top_menu .menu{
        width: 100%;
    }
    #logo {
        height: 64px;
    }
    .header_logo{
        order: -1;
        margin-right: 8px;
    }
    .header_contact{
        margin: initial;
        width: initial;
    }
    .top_menu .menu > li > a{
        font-size: 19px;
    }
    .zoom-anim-dialog-info{
        width: 100%;
    }
    .top_menu{
        position: relative;
    }
    .pt-118px{
        padding-top: 0;
    }
    .section-callback__content:after{
        display: none;
    }
    .section-callback__content{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .section-callback .bg{
        background-size: 100% 100%;
    }
    .section-callback{
        padding: 20px 0;
    }
    .section-callback__content .btn-brand{
        margin-top: 0;
    }
    .slider_partner{
        height: 350px;
    }
    .slider_partner img{
        width: 250px;
    }
    .slider_partner{
        height: 100px;
    }
    #vk-pc{
        display: none;
    }
    #vk-mob{
        display: inline-block;
    }
  /*  .TVLineForm.TVTheme2,.TVWideForm.TVTheme2{
        width: 100% !important;

    }
    .TVModalContainer.TVFadeIn{
        width: 90%!important;
    }
    .TVOrderWindow{
        width: 100%!important;
    }*/
    .info_img a{
        height: 340px;
    }
    .h1-cont{
        margin-top: 0px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    footer .footer_flat{
       display: none;
    }
    footer .footer_bag{
        display: none;
    }
    footer{
        flex-direction: column;
        height: auto;
    }
    footer .footer_mail, footer .footer_tel{
        display: block;
        margin: 10px 0;
    }
    .nav-icon-line{
        display: block;
    }
    #nav-icon{
        display: block;
    }
    .top_menu .menu{
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: all .4s;
    }
    .top_menu .menu > li > a {
        padding: 13px 0;
        display: block;
    }
    .top_menu .menu > li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #f6993f57;
    }
    .top_menu .menu > li > a:after{
        display: none;
    }

    .header_contact .header_tel, .header_contact .header_mail{
        margin-top: 8px;
        display: inline-flex;
        align-items: center;
    }
    #dropDownHolder{
        position: relative;
        left: 0;
        transform: translateX(0);


    }
    .all_city{
        margin-left: auto;
        margin-right: auto;
    }
    .m-top-countries > li{
        width: initial;
    }
    .m-top-countries > li a{
        padding: 12px 8px;
    }
    #dropDownHolder{
        height: 0;
        overflow: hidden;
        top: 0;
        width: 100%;
    }
    .text_block{
        font-size: 16px;
    }
    .phpner_call-btn{
        width: 45px;
        height: 45px;
    }
    #phpner_button-wrapper{
        bottom: 113px!important;
        right: 26px!important;
    }
    .scrollup{
        bottom: 26px;
        width: 44px;
        height: 44px;
        left: 20px;
    }
    .info_img{
        flex-flow: column;
        align-items: center;
    }
    .info_img a{
        width: 100%;
        height: 290px;
    }
    .info_img .slider_page{
        width: 100%;
    }
    .info_img .text_info_in_page{
        width: 100%;
        padding: 15px;
    }
    .wrapper-for-contact .left-menu{
        left: 0px;

    }

/*    .TVTheme2 .TVCountry,.TVTheme2 .TVDates,.TVTheme2 .TVNights,.TVTheme2 .TVTourists,.TVTheme2 .TVLocationButton{
        width: 100%!important;
        margin-bottom: 15px;
        border-bottom: 1px solid;
    }
    .TVMainFilter{
        display: flex;
        flex-direction: column;
    }
    .TVWideForm.TVTheme2 .TVSearchButton {
        width: 250px;
    }
    .TVChooseCountry{
        width: 100%!important;
    }
    .TVPopCountries{
        width: 100%!important;
    }
    .TVChooseCountry .TVListBox.TVEnd{
        font-size: 28px;
        height: auto!important;
    }
    .TVOtherCountries .TVListBoxItem, .TVPopCountries .TVListBoxItem {
        margin-bottom: 18px;
    }
    .TVOtherCountries{
        width: 100%!important;
    }
    .TVOtherCountries .TVListBox {
        margin-right: 0;
        text-align: center!important;
        width: 100%!important;
        font-size: 28px!important;
    }*/
    .map iframe{
        height: 280px!important;
    }
}

@media only screen and (max-width : 600px){
    .h2, h2{
        font-size: 20px;
    }
    .header_contact a, .page_contact a{
        font-size: 17px;
    }
    .info_img h1{
        position: relative;
        padding-bottom: 15px;
        padding-top: 0;
        top: 0;
    }
    .info_img a{
        height: 240px;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    footer a{
        font-size: 22px;
    }
    .m-top-countries > li{
        width: 100%;
    }
    .form_width{
        width: 98%!important;
    }
    .info_img a{
        height: 170px;
    }
    #ok_group_widget iframe{
        width: 100%!important;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    font-size: 37px;
}


